{% extends "base.html" %}
{% block content %}

<div class="text typewriter">
    <h1>Contact</h1>
</div>

<div class="menu">
    <a href="mailto:anusikh2001@gmail.com?subject=Hello, Coming from Your Portfolio Website"><button type="button" class="btn btn-dark btn-lg"><i class="fa fa-address-book icog" aria-hidden="true"></i> E-Mail</button></a>
</div>

<div class="menu">
    <a href="https://www.instagram.com/anusikh11_/"><button type="button" class="btn btn-dark btn-lg"><i class="fa fa-instagram icog" aria-hidden="true"></i> Instagram</button></a>
</div>

<div class="menu">
    <a href="https://twitter.com/Anusikh"><button type="button" class="btn btn-dark btn-lg"><i class="fa fa-twitter icog"
        aria-hidden="true"></i> Twitter</button></a>
</div>

<div class="menu">
    <a href="https://www.reddit.com/user/the_enigma_143/"><button type="button" class="btn btn-dark btn-lg"><i class="fa fa-reddit icog"
        aria-hidden="true"></i> Reddit</button></a>
</div>

<div class="content">
    A good person to have a chat with is always welcomed !!!
</div>

<div class="menu">
    <a href="{{ url_for('home')}}"><button type="button" class="btn btn-dark btn-lg"><i class="fa fa-home icog"
                aria-hidden="true"></i> Home</button></a>
</div>

{% endblock %}