{% extends "base.html" %}
{% block content %}

<div class="text typewriter">
    <h1>Projects</h1>
</div>

<div class="cards-proj justify-content-center">

    <div class="card w-75" style="width: 18rem;">
        <img src="{{url_for('static',filename='assets/vscolab.png')}}" class="card-img-top" alt="...">
        <div class="card-body">
            Use Google Colab GPU's and TPU's via an ssh connection locally in your device.
            Using this package we can ssh into the Google Colab instance and also perform remote developement using
            VSCode.
            <br>
            <a href="https://github.com/anusikh/VSColab"><button type="button" class="btn btn-dark btn-lg my-2"><i
                        class="fa fa-github icog" aria-hidden="true"></i> Github</button></a>
        </div>
    </div>

</div>

<div class="cards-proj justify-content-center">

    <div class="card w-75" style="width: 18rem;">
        <img src="{{url_for('static',filename='assets/ocr.PNG')}}" class="card-img-top" alt="...">
        <div class="card-body">
            This is my implementation of an OCR using Resnet. Resnet is one of the best Neural Network architectures for
            image classification and it's biggest advantage is the fact that as the network depth increases, it cancels
            negative outcomes.
            <br>
            <a href="https://github.com/anusikh/OCR_Resnet"><button type="button" class="btn btn-dark btn-lg my-2"><i
                        class="fa fa-github icog" aria-hidden="true"></i> Github</button></a>
        </div>
    </div>

</div>

<div class="cards-proj justify-content-center">

    <div class="card w-75" style="width: 18rem;">
        <img src="{{url_for('static',filename='assets/flight.png')}}" class="card-img-top" alt="...">
        <div class="card-body">
            Web App to predict the approx. price of flight tickets connecting the major cities in India. Its uses
            Machine Learning to predict the possble prices of a flight on a particular date.
            Python Flask has been used for the back-end and HTML, CSS, Bootstrap has been used for the front-end.
            <br>
            <a href="https://github.com/anusikh/Flight-Price-Prediction"><button type="button"
                    class="btn btn-dark btn-lg my-2"><i class="fa fa-github icog" aria-hidden="true"></i>
                    Github</button></a>
        </div>
    </div>

</div>

<div class="cards-proj justify-content-center">

    <div class="card w-75" style="width: 18rem;">
        <img src="{{url_for('static',filename='assets/loan.PNG')}}" class="card-img-top" alt="...">
        <div class="card-body">
            This is a Web API that predicts if one cas apply for a loan or not based on past records. The dataset has
            been obtained from Kaggle.com. The model accuracy is around 93%, which can be further improved. Flask has
            been used for the back-end.
            <br>
            <a href="https://github.com/anusikh/Loan-Avail-Prediction"><button type="button"
                    class="btn btn-dark btn-lg my-2"><i class="fa fa-github icog" aria-hidden="true"></i>
                    Github</button></a>
        </div>
    </div>

</div>

<div class="cards-proj justify-content-center">

    <div class="card w-75" style="width: 18rem;">
        <img src="{{url_for('static',filename='assets/cotton.png')}}" class="card-img-top" alt="...">
        <div class="card-body">
            A web app and real time disease identiifier for cotton plants. The users can upload images of cotton
            leaves/plants and this web app will determine if the cotton plant has a disease. It uses an CNN and the
            accuracy is around 96% .
            This project was mu submission for the "ThinkAI competition" held in the month of October.
            <br>
            <a href="https://github.com/anusikh/Cotton-Disease-Identifier"><button type="button"
                    class="btn btn-dark btn-lg my-2"><i class="fa fa-github icog" aria-hidden="true"></i>
                    Github</button></a>
        </div>
    </div>

</div>

<div class="menu">
    <a href="{{ url_for('home')}}"><button type="button" class="btn btn-dark btn-lg"><i class="fa fa-home icog"
                aria-hidden="true"></i> Home</button></a>
</div>

{% endblock %}